@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@700&display=swap');


:root {--border-radius: .5vh;}


* {
    margin: 0;
    padding: 0;
    user-select: none;
    transition: .3s ease-in-out;
} *:hover {transition: .3s ease-in-out;}


html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242933;
    color: #ECEFF4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

main > * {
    padding: 3vh;
}


#Buttons {
    padding: 7vh 11vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 3vh;
}


.Button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: #292E39;
    box-shadow: 0 .7vh 1vh rgba(0, 0, 0, 0.35);
}
.Button:hover {transform: translateY(-.5vh);}
.Button:hover svg {
    stroke: #5E81AC;
    transition: none;
}


#Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}


#Cards > * {
    height: 90%;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: #292E39;
    box-shadow: 0 .7vh 1vh rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
} #Cards > *:hover {transform: translateY(-.5vh);}

#Cards > * > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16%;
    width: 100%;
    color: #ECEFF4;
    text-decoration: none;
    border-radius: var(--border-radius);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2vh;
}

#Cards > * > a:hover {
    background-color: #242933;
    color: #5E81AC;
}


#TimexGreeting,
#DatexWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Time,
#Date {
    font-family: 'Rubik', sans-serif;
    font-size: 12vh;
} #Date {font-size: 8vh;}
#Time:hover, #Date:hover {color: #5E81AC;}

#Greeting {font-size: 3vh;}

#Weather {
    font-size: 3vh;
    display: flex;
    align-items: center;
    gap: 1vh;
}

svg {
    stroke-width: 2;
    stroke: #ECEFF4;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 3.5vh;
}

#weatherIcon {
    display: flex;
    align-items: center;
    justify-content: center;
} #weatherIcon img {height: 6vh;}





@media (max-aspect-ratio: 1 / .7) {

    main {
        height: 70%;
        width: 95%;
    }

    svg {height: 2.5vh;}

}


@media (max-aspect-ratio: 1 / 1) {

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #Buttons {
        width: 40vh;
        height: 20%;
    }

    #Cards {
        width: 40vh;
        height: 25%;
    }

    #Time {font-size: 8vh;}
    #Greeting {font-size: 2vh;}
    #Date {font-size: 6vh;}
    #Weather {font-size: 2vh;}
    #Weather img {height: 4vh;}
    #Cards > * > * {font-size: 1.5vh;}

}
