@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@700&display=swap');


:root {
    --border-radius: .8vh;
}


* {
    margin: 0;
    padding: 0;
    user-select: none;
    transition: .3s ease-in-out;
}
*:hover {
    transition: .3s ease-in-out;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242933;
    color: #ECEFF4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

main > * {
    padding: 5%;
}


#Buttons {
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 3vh;
}


.Button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: #292E39;
    box-shadow: 0 .7vh 1vh rgba(0, 0, 0, 0.35);
}
.Button:hover {
    transform: translateY(-1vh);
    background-color: #5E81AC;
}
.Button:hover svg {
    stroke: #242933;
}


#Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


#Cards > * {
    width: 45%;
    height: 95%;
    border-radius: var(--border-radius);
    background-color: #292E39;
    box-shadow: 0 .7vh 1vh rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 5%;
} #Cards > *:hover {transform: translateY(-1vh);}

#Cards > * > * {
    justify-self: center;
    text-align: center;
    padding: 5% 10%;
    color: #ECEFF4;
    text-decoration: none;
    border-radius: var(--border-radius);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2vh;
}

#Cards > * > a:hover {
    background-color: #5E81AC;
    color: #242933;
}


#TimexGreeting,
#DatexWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Time,
#Date {
    font-family: 'Rubik', sans-serif;
    font-size: 12vh;
} #Date {font-size: 8vh;}
#Time:hover,
#Date:hover {color: #5E81AC;}

#Greeting {font-size: 3vh;}

#Weather {
    font-size: 3vh;
    display: flex;
    align-items: center;
    gap: 1vh;
}

svg {
    stroke-width: 2;
    stroke: #ECEFF4;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 3.5vh;
}

#weatherIcon {
    display: flex;
    align-items: center;
    justify-content: center;
} #weatherIcon img {height: 6vh;}





@media screen and (max-width: 992px) {

    html,
    body {
        width: 100%;
        height: 100%;
    }

    main {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main > * {
        padding: 5%;
        height: 25%;
        width: 90%;
    }

    #Time {font-size: 9vh;}
    #Date {font-size: 7vh;}
    #Greeting {font-size: 2.5vh;}
    #Weather {font-size: 2.5vh;}
    #Buttons {width: 45%; gap: 1.5vh;}
    .Button {height:100%;}
    #Cards > * {width: 25%;}
    #Cards > * > * {font-size: 1.5vh;}
    svg {height: 2vh;}

    #weatherIcon img {height: 4vh;}

    .Button:hover {transform: translateY(-.5vh);}
    #Cards > *:hover {transform: translateY(-.5vh);}

    :root {
        --border-radius: .5vh;
    }
}



/*@media screen and (max-width: 1700px) and (max-height: 1200px) {

    main {
        height: 100%;
        width: 100%;
    }

    #Buttons {
        padding: 30% 15%;
    }

}*/
